@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8d4848;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #4b5563;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

section {
  @apply rounded-md mt-2;
}

@layer utilities {
  .cold-weather {
    @apply !text-blue-500;
  }
  .hot-weather {
    @apply !text-red-500;
  }
  .rainy-weather {
    @apply !text-orange-700;
  }
  .snowy-weather {
    @apply !text-purple-500;
  }
  .windy-weather {
    @apply !text-orange-600;
  }
}

.title-first {
  @apply text-2xl font-bold text-black;
}

.title-second {
  @apply text-xl font-bold text-black mb-4  flex;
  @apply text-shadow;
}

.body-regular {
  @apply text-gray-600 text-base;
}

.navbar-text {
  @apply text-white hover:text-gray-200;
}

@screen sm {
  .title-first {
    @apply text-2xl;
  }
  .title-second {
    @apply text-lg;
  }
  .body-regular {
    @apply text-lg;
  }
  .navbar-text {
    @apply text-lg;
  }
}

@screen md {
  .title-first {
    @apply text-2xl;
  }
  .title-second {
    @apply text-xl;
  }
  .body-regular {
    @apply text-lg;
  }
  .navbar-text {
    @apply text-xl;
  }
}

@screen lg {
  .title-first {
    @apply text-3xl;
  }
  .title-second {
    @apply text-2xl;
  }
  .body-regular {
    @apply text-xl;
  }
  .navbar-text {
    @apply text-2xl;
  }
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.35s ease-in-out forwards;
  }
  .fade-out {
    animation: fadeOut 0.95s ease-in-out forwards;
  }
  .text-shadow {
    text-shadow: 1px 1px 1px rgb(190, 148, 70);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
